In [3]:
import pandas as pd 
import numpy as np


%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree


from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler 
from sklearn import metrics
import sqlite3

import pandas as pd
from sqlalchemy import create_engine

In [7]:
Heart_disease_df = pd.read_csv('../Resources/Heart_disease_model_cleaned.csv')

Heart_disease_df

,BMI,PhysicalHealth,MentalHealth,SleepTime,Smoking,HeartDisease,AlcoholDrinking,Stroke,DiffWalking,PhysicalActivity,...,SkinCancer,Male,GenHealth,AgeCategory,American Indian/Alaskan Native,Asian,Black,Hispanic,Other,White
0,16.60,3.0,30.0,5.0,1,0,0,0,0,1,...,1,0,4,8,0,0,0,0,0,1
1,20.34,0.0,0.0,7.0,0,0,0,1,0,1,...,0,0,4,13,0,0,0,0,0,1
2,26.58,20.0,30.0,8.0,1,0,0,0,0,1,...,0,1,2,10,0,0,0,0,0,1
3,24.21,0.0,0.0,6.0,0,0,0,0,0,0,...,1,0,3,12,0,0,0,0,0,1
4,23.71,28.0,0.0,8.0,0,0,0,0,1,1,...,0,0,4,5,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,27.41,7.0,0.0,6.0,1,1,0,0,1,0,...,0,1,2,9,0,0,0,1,0,0
319791,29.84,0.0,0.0,5.0,1,0,0,0,0,1,...,0,1,4,4,0,0,0,1,0,0
319792,24.24,0.0,0.0,6.0,0,0,0,0,0,1,...,0,0,3,6,0,0,0,1,0,0
319793,32.81,0.0,0.0,12.0,0,0,0,0,0,0,...,0,0,3,2,0,0,0,1,0,0
319794,46.56,0.0,0.0,8.0,0,0,0,0,0,1,...,0,0,3,13,0,0,0,1,0,0

In [8]:
protocol = 'postgresql'
username = 'postgres'
password = 'password'
host = 'localhost'
port = 5432
database_name = 'heartDisease'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [9]:
engine.table_names()

C:\Users\Jm18443\AppData\Local\Temp\ipykernel_13596\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [11]:
Heart_disease_df.to_sql(name='heart_disease_table', con=engine, if_exists='append', index=True)

795

In [12]:
engine.table_names()

C:\Users\Jm18443\AppData\Local\Temp\ipykernel_13596\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['heart_disease_table']